
@{
    ViewData["Title"] = "Registrierung";
}

<h1>Registrierung</h1>

<label for="firstname">Vorname</label>

<input type="text" id="firstname" name="firstname" /><br>

<label for="lastname">Nachname</label>
<input type="text" id="lastname" name="lastname" /><br>

<label for="gender">Geschlecht</label>

<div>
    <input type="radio" id="gender" name="gender" value="male" />männlich
    <br />
    <input type="radio" id="gender" name="gender" value="female" />weiblich
    <br />
    <input type="radio" id="gender" name="gender" value="notSpecified" />nicht bestimmt
    <br />
</div>


<label for="date1">Geburtsdatum</label>
<input type="date" name="date1" id="date1" /><br>

<label for="email">Email:</label>
<input type="email" id="email" name="email">
<br />

<label for="pasword">Passwort: </label>
<input type="password" id="pasword" name="pasword" /><br>

<label for="color1">Lieblingsfarbe</label>
<input type="color" name="color1" id="color1" /><br>

<input type="submit" value="Absenden" />
<input type="reset" value="Zurücksetzen" />