@model Webprojekt_Niederhauser.Models.User
@{
    ViewData["Title"] = "Registrierung";
}

<h1>Registrierung</h1>


<form asp-controller="user" asp-action="Registrierung" method="post">

    <label asp-for="Vorname">Vorname *</label>
    <br />
    <input asp-for="Vorname" />
    <br />
    <span asp-validation-for="Vorname" class="text-danger" style="font-size:85%"></span>
    <br />

    <label asp-for="Nachname">Nachname *</label>
    <br />
    <input asp-for="Nachname" />
    <br />
    <span asp-validation-for="Nachname" class="text-danger" style="font-size:85%"></span>
    <br />

    <label asp-for="geschlecht">Geschlecht </label>
    <br>
    <select asp-for="geschlecht">
        <option value="male">Mann</option>
        <option value="female">Frau</option>
        <option value="notSpecified">sonstiges</option>
    </select>
    <br />

    <label asp-for="Geburtsdatum">Geburtsdatum *</label>
    <br />
    <input asp-for="Geburtsdatum" type="date" />
    <span asp-validation-for="Geburtsdatum" class="text-danger" style="font-size:85%"></span>
    <br />

    <label asp-for="Email">Email *</label>
    <br />
    <input asp-for="Email" />
    <br />
    <span asp-validation-for="Email" class="text-danger" style="font-size:85%"></span>
    <br />

    <label asp-for="Passwort">Passwort *</label>
    <br />
    <input asp-for="Passwort" />
    <br />
    <span asp-validation-for="Passwort" class="text-danger" style="font-size:85%"></span>
    <br />

    <input type="submit" value="Registrieren" />
    <input type="reset" value="Zurücksetzen" />
</form>


