
@{
    ViewData["Title"] = "AboutUs";
}

<table>
    <thead>
        <tr>
            <td colspan="3">Mopeds4Everyone</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Unsere Firma: Mopeds4Everyone</td>
        </tr>
        <tr>
            <td>Unser Standord: 6020 Innsbruck</td>
        </tr>
        <tr>
            <td>Kontakt: mopeds4everyone@gmail.com</td>

        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Der Motorradshop für jeden</td>
        </tr>
    </tfoot>
</table>

