
@{
    ViewData["Title"] = "AboutUs";
}

<table>
    <thead>
        <tr>
            <td colspan="3">Impressum</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Zeile1</td>
            <td>Zeile1</td>
            <td>Zeile1</td>
        </tr>
        <tr>
            <td>Zeile2</td>
            <td>Zeile2</td>
            <td>Zeile1</td>
        </tr>
        <tr>
            <td>Zeile3</td>
            <td>Zeile3</td>
            <td>Zeile1</td>

        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Fußbereich der Tabelle</td>
        </tr>
    </tfoot>
</table>

