
@{
    ViewData["Title"] = "Impressum";
}


<table>
    <thead>
        <tr>
            <td colspan="2">Impressum</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>name</td>
            <td>Daniel Niederhauser</td>
        </tr>
        <tr>
            <td>Email: </td>
            <td>daniel.niederh@gmail.com</td>
        </tr>
        <tr>
            <td>asdf</td>
            <td>jklö</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">Fußbereich der Tabelle</td>
        </tr>
    </tfoot>
</table>