
@{
    ViewData["Title"] = "Impressum";
}


<table>
    <thead>
        <tr>
            <td colspan="2">Impressum</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name: </td>
            <td>Daniel Niederhauser</td>
        </tr>
        <tr>
            <td>Email: </td>
            <td>daniel.niederh@gmail.com</td>
        </tr>
        <tr>
            <td>Firma: </td>
            <td>Mopeds4Everyone</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">Der Motorradshop für jeden</td>
        </tr>
    </tfoot>
</table>