@{
    ViewData["Title"] = "Home Page";
}


<h1>Mopeds4Everyone</h1>
<p>Die beste Seite um dein Traummotorrad zu finden. Egal welchen Führerschein du besitzt.</p>
<div>
    <img src="~/Bilder/Rieju_Logo.gif" height="150" />
    <img src="~/Bilder/Aprilia-logo.png" height="150" style="margin-left:30px" />
    <img src="~/Bilder/KTM-Logo.jpg" height="150" style="margin-left:30px" />
    <img src="~/Bilder/Husqvarna-Logo.jpg" height="150" style="margin-left:30px" />
</div>