<ul>
    <li class="ueberpunkt">
        <a asp-controller="home" asp-action="index">Startseite</a>
    </li>
    <li class="unterpunkt">
        <a asp-controller="home" asp-action="aboutUs">Über uns</a>
    </li>
    <li class="unterpunkt">
        <a asp-controller="home" asp-action="impressum">Impressung</a>
    </li>
    <li class="unterpunkt">
        <a asp-controller="User" asp-action="login">Login</a>
    </li>
    <li class="unterpunkt">
        <a asp-controller="User" asp-action="registrierung">Registrierung</a>
    </li>

</ul>