
<div class="dropdown">
    <button class="dropbtn">50 Kubik</button>
    <div class="dropdown-content">
        <a asp-controller="Kubikklassen" asp-action="Kubik50">50 Kubik</a>
    </div>
</div>

<div class="dropdown">
    <button class="dropbtn">125 Kubik</button>
    <div class="dropdown-content">
        <a asp-controller="Kubikklassen" asp-action="Kubik125">125 kubik</a>
    </div>
</div>
