
@{
    ViewData["Title"] = "Kubik50";
}


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<h1>Die besten 50 Kubik Mopeds</h1>
<div>
    <h2>Rieju Mrt 50</h2>
    <img src="~/Bilder/Rieju_MRT_50.jpg" width="920" height="690" />
    <a href="https://rieju.at/" target="_blank"><img src="~/Bilder/Rieju_Logo.gif" /></a>
</div>

<div style="padding-top:12px;">
    <a href="~/Dokumente/Rieju_50ccm_Betriebsanleitung.pdf" style="text-decoration:none; color:#000000; height:15px;">
        <i style="font-size:24px" class="fa">&#xf1c1;</i>
        Betriebsanleitung Rieju
    </a>
</div>
