
@{
    ViewData["Title"] = "Kubik50";
}

<h1>Die besten 50 Kubik Mopeds</h1>
<div>
    <h2>Rieju Mrt 50</h2>
    <img src="~/Bilder/Rieju_MRT_50.jpg" width="920" height="690" />
    <a href="https://rieju.at/" target="_blank"><img src="~/Bilder/Rieju_Logo.gif" /></a>

</div>

